/* Following are the presentation styles -- edit away!
   Note that the 'body' font size may have to be changed if the resolution is
    different than expected. */

body {color: #000; font-size: 2em; font-family: Verdana, Arial, sans-serif;
    background: url(looseleaf.png) repeat-y #fff;
}

a {
	color: #c30;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

:link, :visited {text-decoration: none;}
#controls :active {color: #333 !important;}
#controls :focus {outline: none;}
h1, h2, h3, h4 {font-size: 100%; margin: 0; padding: 0; font-weight: inherit;}
ul, pre {margin: 0; line-height: 1em;}
html, body {margin: 0; padding: 0;}

blockquote, q {font-style: italic;}
blockquote {
    background: url(quoteclip.png) left bottom no-repeat;
    padding: 0 2em 0 45px;
    margin: .2em 1.5em 0.5em;
    border-top: 3px solid #EEE;
    border-right: 3px solid #EEE;
    font-size: 1em;
}
blockquote p {margin: 0;}
blockquote i {font-style: normal;}
blockquote b {display: block; margin-top: 0.5em; font-weight: normal; font-size: smaller; font-style: normal;}
blockquote b i {font-style: italic;}

kbd {font-weight: bold; font-size: 1em;}
sup {font-size: smaller; line-height: 1px;}

code {padding: 2px 0.25em; font-weight: bold; color: #555;}
code.bad, code del {color: red;}
code.old {color: silver;}
pre {font-size: .7em;
	margin: 0 auto;
	background-color: #f3f3f3;
	border: 1px solid #d5d5d5;
	width: 80%;
	padding: 20px;}
pre code {display: block;}
pre code span {
	font-weight: normal;
	font-size: 0.98em;
}
ul {margin-left: 50px; margin-right: 3%; list-style: disc; padding: 0;}
li {margin-top: 8px; margin-right: 0;}
ul ul {line-height: 1;}
ul ul li {margin: .2em; font-size: 85%; list-style: square;}
p, li {
	line-height: 1.2;
}
img.leader {display: block; margin: 0 auto;}


div#header, div#footer {
  font-family: Verdana, Helvetica, sans-serif;}
div#footer {color: #AAB; font-size: 0.5em; font-weight: bold; padding: 1em 0; color: #666; background-color: #CCCCFF;}
#footer h1, #footer h2 {display: block; padding: 0 1em;}
#footer h2 {margin-top: 0.5em;}

div.long {font-size: 0.75em;}

.slide h1 {
  position: static;
  margin: 1.1em 0 1.33em; padding: 5px 0 5px 20px;
  margin-left: 50px; padding: 0; white-space: normal;
  font: 2em Arial, Verdana, sans-serif; white-space: normal;
}
.slide h2 {
    background: url(pen.png) right bottom no-repeat;
    height: 30px;
    margin-bottom: .1em;
    padding-right: 54px;
    padding-top: 20px;
    padding-bottom: .3em;
    border-bottom: dotted 4px #999;
    font-weight: bold;
}
.slide h3 {font-size: 130%;}
h1 abbr {font-variant: small-caps;}

div.slide > ul > li {
    background: url(pin.png) left top no-repeat;
    padding-left: 32px;
    list-style-type: none;
}

div#controls {position: absolute; z-index: 1; left: 75%; top: 0;
  width: 25%; height: 100%;
  text-align: right;}
#footer>div#controls {position: fixed; bottom: 0; padding: 2em 0;
  top: auto; height: auto;}
div#controls form {position: absolute; bottom: 0; right: 0; width: 100%;
  margin: 0; padding: 0;}
div#controls a {font-size: 2em; padding: 0; margin: 0 0.5em; border: none; color: #f3f3f3; 
  cursor: pointer;}
div#controls a:hover {color: #f3f3f3;}
div#controls select {visibility: hidden; background: #f3f3f3; color: #333;}
div#controls div:hover select {visibility: visible;}

#toggle, #prev, #next {
	display: block;
	width: 35px; height: 35px;
	float: left;
}
#toggle {
	/* background-image: url(toggle.gif); */
}
#toggle span {
	/* display: none; */
}
#next {
	text-align: left;
}

#currentSlide {text-align: center; font-size: 0.5em; color: #666; font-weight: bold;}
#currentSlide span {display: none;}

#slide0 {padding-top: 3.5em; font-size: 90%;}
#slide0 h1 {position: static; margin: 1em 0 1.33em; padding: 5px 0 5px 20px;
   font: bold 2.2em Arial, Verdana, sans-serif; white-space: normal;
   color: #000;
   text-transform: none; }
#slide0 h2 {
    background: none;
    border: none;
}
#slide0 h3 {margin-top: 0.3em; font-size: 1.2em;}
#slide0 h4 {margin:0; font-size: 0.9em;}

ul.urls {list-style: none; display: inline; margin: 0;}
.urls li {display: inline; margin: 0;}
.note {display: none;}

acronym {
	font-size: 90%;
}

div.image {
	margin: 0 auto;
	text-align: center;
	background-color: #f3f3f3;
	border: 1px solid #000;
	font-size: 0.66%;
	width: 400px;
	padding: 20px;
}

p {
	margin-left: 50px;
}

div.image p, #slide0 p {
	margin-left: 0;
}

small { color: #999; }

.slide img {
    float: left;
    background: #fff;
    margin: 0 10px 10px 0;
    padding: 3px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
}
